USE [master]
GO
/****** Object:  Database [stomatoloska_ordinacija]    Script Date: 2/28/2026 6:44:34 PM ******/
CREATE DATABASE [stomatoloska_ordinacija]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stomatoloska_ordinacija', FILENAME = N'C:\Users\AsusTuf\stomatoloska_ordinacija.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stomatoloska_ordinacija_log', FILENAME = N'C:\Users\AsusTuf\stomatoloska_ordinacija_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stomatoloska_ordinacija].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stomatoloska_ordinacija]
GO
/****** Object:  Table [dbo].[Izvestaj]    Script Date: 2/28/2026 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izvestaj](
	[id] [int] NULL,
	[opis] [varchar](50) NULL,
	[terminId] [int] NULL,
	[ukupnaCena] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 2/28/2026 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[lozinka] [varchar](50) NULL,
	[uloga] [varchar](50) NULL,
	[jmbg] [varchar](50) NULL,
	[brojTelefona] [varchar](50) NULL,
	[brojLicence] [varchar](50) NULL,
	[mentorId] [int] NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Termin]    Script Date: 2/28/2026 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NULL,
	[vreme] [time](7) NULL,
	[pacijentId] [int] NULL,
	[stomatologId] [int] NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Termin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminUsluga]    Script Date: 2/28/2026 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminUsluga](
	[terminId] [int] NULL,
	[uslugaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 2/28/2026 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NULL,
	[opis] [varchar](500) NULL,
	[cena] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Usluga] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Termin] ADD  DEFAULT ('Na cekanju') FOR [status]
GO
ALTER TABLE [dbo].[Izvestaj]  WITH CHECK ADD  CONSTRAINT [FK_Izvestaj_Termin] FOREIGN KEY([terminId])
REFERENCES [dbo].[Termin] ([id])
GO
ALTER TABLE [dbo].[Izvestaj] CHECK CONSTRAINT [FK_Izvestaj_Termin]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_Korisnik] FOREIGN KEY([mentorId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_Korisnik_Korisnik]
GO
ALTER TABLE [dbo].[Termin]  WITH CHECK ADD  CONSTRAINT [FK_Termin_Korisnik] FOREIGN KEY([pacijentId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Termin] CHECK CONSTRAINT [FK_Termin_Korisnik]
GO
ALTER TABLE [dbo].[Termin]  WITH CHECK ADD  CONSTRAINT [FK_Termin_Korisnik1] FOREIGN KEY([stomatologId])
REFERENCES [dbo].[Korisnik] ([id])
GO
ALTER TABLE [dbo].[Termin] CHECK CONSTRAINT [FK_Termin_Korisnik1]
GO
ALTER TABLE [dbo].[TerminUsluga]  WITH CHECK ADD  CONSTRAINT [FK_TerminUsluga_Termin] FOREIGN KEY([terminId])
REFERENCES [dbo].[Termin] ([id])
GO
ALTER TABLE [dbo].[TerminUsluga] CHECK CONSTRAINT [FK_TerminUsluga_Termin]
GO
ALTER TABLE [dbo].[TerminUsluga]  WITH CHECK ADD  CONSTRAINT [FK_TerminUsluga_Usluga] FOREIGN KEY([uslugaId])
REFERENCES [dbo].[Usluga] ([id])
GO
ALTER TABLE [dbo].[TerminUsluga] CHECK CONSTRAINT [FK_TerminUsluga_Usluga]
GO
USE [master]
GO
